body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 1em;
}
p.small {
  font-size: 0.83em;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #E0461D;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
hr.star-light,
hr.star-primary,
hr.bolt-light,
hr.pencil-primary,
hr.diamond-primary {
  padding: 0;
  border: none;
  border-top: 5px solid;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.bolt-light:after {
  content: "\f0e7";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.pencil-primary:after {
  content: "\f044";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
  background-color: white;
  color: #18678E;
}
hr.diamond-primary:after {
  content: "\f219";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
  background-color: white;
  color: #18678E;
}
hr.star-light,
hr.bolt-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #E0AA1D;
  color: white;
}
hr.bolt-light:after {
  background-color: #0b3144;
  color: #E0AA1D;
}
hr.star-primary:after {
  background-color: #f7e9c3;
  color: #18678E;
}
hr.star-primary {
  border-color: #E0AA1D;
}
header {
  text-align: center;
  background: #0b3144;
  color: #E0AA1D;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.35em;
}
header .intro-text .skills {
  font-size: 1.75em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}
.navbar-custom {
  background: #18678E;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-top: thick solid #E0461D;
  border-bottom: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: #0b3144;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #E0AA1D;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #E0AA1D;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #E0AA1D;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #E0AA1D;
  color: white;
  border-color: #E0461D;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#about {
  color: #0b3144;
  background: white;
}
#about h2 {
  color: #18678E;
}
#about hr {
  color: #E0AA1D;
}
#portfolio {
  background: #f7e9c3;
  padding: 41px 0;
}
#portfolio h4,
#portfolio p {
  color: #0b3144;
}
#portfolio .portfolio-content {
  margin: 17px 0;
  padding: 17px 0;
}
#portfolio .portfolio-content hr {
  margin: 0 0 11px 0;
  border-top: 5px solid #18678E;
}
#portfolio .portfolio-content .portfolio-data {
  color: #E0461D;
}
#portfolio .portfolio-content .caption {
  margin: 5px 0;
}
#portfolio .portfolio-content .portfolio-slider .portfolio-item {
  width: 100%;
}
#portfolio .portfolio-content .portfolio-slider .portfolio-item p {
  margin: 7px 0 0 0;
}
#portfolio1,
#portfolio2,
#portfolio3,
#portfolio4 {
  background: #fcf6e7;
  margin: 0;
  width: inherit;
}
#portfolio5 {
  margin: 0;
  width: inherit;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item a {
    cursor: zoom-in;
  }
}
#skills h2 {
  color: #18678E;
}
#skills h4 {
  color: #E0461D;
}
#skills hr {
  color: #E0AA1D;
}
@media (max-width: 767px) {
  #skills .skill-list {
    margin: 0 0 33px 20%;
  }
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #18678E;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #0b3144;
}
.btn-outline {
  color: #18678E;
  font-size: 20px;
  border: solid 2px #18678E;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #E0461D;
  border: solid 2px #E0AA1D;
  background: white;
}
.btn-email {
  color: white;
  border: solid 2px white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  color: white;
  margin-top: -13px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
  color: white;
  background: #E0AA1D;
}
.scroll-top .btn:hover {
  color: #E0461D;
  border: 5px solid #E0AA1D;
  background: white;
  padding-top: 2px;
  padding-left: 11px;
}
